USE [master]
GO
/****** Object:  Database [ZapateriaJoselito]    Script Date: 24/08/2026 20:07:09 ******/
CREATE DATABASE [ZapateriaJoselito]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ZapateriaJoselito_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ZapateriaJoselito.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ZapateriaJoselito_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ZapateriaJoselito.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ZapateriaJoselito].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ZapateriaJoselito]
GO
/****** Object:  Table [dbo].[CATEGORIAS]    Script Date: 24/08/2026 20:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIAS](
	[id_categorias] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](80) NOT NULL,
	[descripcion] [nvarchar](300) NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categorias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMAGENES_PRODUCTOS]    Script Date: 24/08/2026 20:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMAGENES_PRODUCTOS](
	[id_imagenes_productos] [int] IDENTITY(1,1) NOT NULL,
	[id_productos] [int] NOT NULL,
	[url_imagen] [nvarchar](400) NOT NULL,
	[orden_visualizacion] [int] NOT NULL,
	[es_principal] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_imagenes_productos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO_VARIANTES]    Script Date: 24/08/2026 20:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO_VARIANTES](
	[id_variantes] [int] IDENTITY(1,1) NOT NULL,
	[id_productos] [int] NOT NULL,
	[talla] [varchar](10) NOT NULL,
	[color] [nvarchar](40) NOT NULL,
	[sku] [varchar](50) NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[stock] [int] NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_variantes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 24/08/2026 20:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[id_productos] [int] IDENTITY(1,1) NOT NULL,
	[id_categorias] [int] NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[marca] [nvarchar](80) NULL,
	[material] [nvarchar](80) NULL,
	[genero] [varchar](20) NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_productos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_catalogo_productos]    Script Date: 24/08/2026 20:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================================
   VISTA DE APOYO: catálogo completo con precio/stock/imagen principal
   ============================================================================ */
CREATE   VIEW [dbo].[vw_catalogo_productos] AS
SELECT
    p.id_productos,
    p.nombre,
    p.marca,
    c.nombre AS categoria,
    v.id_variantes,
    v.talla,
    v.color,
    v.sku,
    v.precio,
    v.stock,
    img.url_imagen AS imagen_principal
FROM PRODUCTOS p
JOIN CATEGORIAS c        ON c.id_categorias = p.id_categorias
JOIN PRODUCTO_VARIANTES v ON v.id_productos = p.id_productos
LEFT JOIN IMAGENES_PRODUCTOS img
       ON img.id_productos = p.id_productos AND img.es_principal = 1
WHERE p.activo = 1 AND v.activo = 1;
GO
/****** Object:  Table [dbo].[CARRITO]    Script Date: 24/08/2026 20:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARRITO](
	[id_carrito] [int] IDENTITY(1,1) NOT NULL,
	[id_usuarios] [int] NOT NULL,
	[fecha_creacion] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_carrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARRITO_ITEMS]    Script Date: 24/08/2026 20:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARRITO_ITEMS](
	[id_carrito_items] [int] IDENTITY(1,1) NOT NULL,
	[id_carrito] [int] NOT NULL,
	[id_variantes] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_carrito_items] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPRAS]    Script Date: 24/08/2026 20:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPRAS](
	[id_compras] [int] IDENTITY(1,1) NOT NULL,
	[id_proveedores] [int] NOT NULL,
	[fecha] [datetime2](0) NOT NULL,
	[monto_total] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_compras] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUPONES]    Script Date: 24/08/2026 20:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUPONES](
	[id_cupones] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](30) NOT NULL,
	[descuento] [decimal](5, 2) NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cupones] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLES_COMPRAS]    Script Date: 24/08/2026 20:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLES_COMPRAS](
	[id_detalles_compras] [int] IDENTITY(1,1) NOT NULL,
	[id_compras] [int] NOT NULL,
	[id_variantes] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[costo_unitario] [decimal](10, 2) NOT NULL,
	[subtotal]  AS (CONVERT([decimal](10,2),[cantidad])*[costo_unitario]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[id_detalles_compras] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLES_VENTA]    Script Date: 24/08/2026 20:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLES_VENTA](
	[id_detalles_venta] [int] IDENTITY(1,1) NOT NULL,
	[id_ventas] [int] NOT NULL,
	[id_variantes] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
	[subtotal]  AS (CONVERT([decimal](10,2),[cantidad])*[precio_unitario]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[id_detalles_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIRECCIONES]    Script Date: 24/08/2026 20:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIRECCIONES](
	[id_direcciones] [int] IDENTITY(1,1) NOT NULL,
	[id_usuarios] [int] NOT NULL,
	[direccion] [nvarchar](200) NOT NULL,
	[distrito] [nvarchar](80) NOT NULL,
	[provincia] [nvarchar](80) NOT NULL,
	[departamento] [nvarchar](80) NOT NULL,
	[referencia] [nvarchar](200) NULL,
	[principal] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_direcciones] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVENTARIO_MOVIMIENTOS]    Script Date: 24/08/2026 20:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTARIO_MOVIMIENTOS](
	[id_movimientos] [int] IDENTITY(1,1) NOT NULL,
	[id_variantes] [int] NOT NULL,
	[id_compras] [int] NULL,
	[id_ventas] [int] NULL,
	[origen_tipo] [varchar](20) NOT NULL,
	[fecha] [datetime2](0) NOT NULL,
	[tipo_movimiento] [varchar](20) NOT NULL,
	[cantidad] [int] NOT NULL,
	[stock_anterior] [int] NOT NULL,
	[stock_nuevo] [int] NOT NULL,
	[observacion] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_movimientos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[METODOS_PAGO]    Script Date: 24/08/2026 20:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[METODOS_PAGO](
	[id_metodos_pago] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](60) NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_metodos_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDORES]    Script Date: 24/08/2026 20:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDORES](
	[id_proveedores] [int] IDENTITY(1,1) NOT NULL,
	[razon_social] [nvarchar](150) NOT NULL,
	[ruc] [varchar](11) NOT NULL,
	[telefono] [varchar](20) NULL,
	[correo] [nvarchar](150) NULL,
	[direccion] [nvarchar](200) NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_proveedores] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECLAMACIONES]    Script Date: 24/08/2026 20:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECLAMACIONES](
	[id_reclamaciones] [int] IDENTITY(1,1) NOT NULL,
	[id_usuarios] [int] NOT NULL,
	[id_ventas] [int] NOT NULL,
	[fecha_registro] [datetime2](0) NOT NULL,
	[detalle_incidente] [nvarchar](max) NOT NULL,
	[estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_reclamaciones] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESENAS]    Script Date: 24/08/2026 20:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESENAS](
	[id_resenas] [int] IDENTITY(1,1) NOT NULL,
	[id_usuarios] [int] NOT NULL,
	[id_productos] [int] NOT NULL,
	[id_detalles_venta] [int] NULL,
	[calificacion] [tinyint] NOT NULL,
	[comentario] [nvarchar](max) NULL,
	[fecha] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_resenas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 24/08/2026 20:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[id_usuarios] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](120) NOT NULL,
	[email] [nvarchar](180) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[rol] [varchar](20) NOT NULL,
	[fecha_registro] [datetime2](0) NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuarios] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTAS]    Script Date: 24/08/2026 20:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTAS](
	[id_ventas] [int] IDENTITY(1,1) NOT NULL,
	[id_usuarios] [int] NOT NULL,
	[id_metodos_pago] [int] NOT NULL,
	[id_cupones] [int] NULL,
	[fecha] [datetime2](0) NOT NULL,
	[monto_total] [decimal](10, 2) NOT NULL,
	[direccion_envio] [nvarchar](200) NOT NULL,
	[distrito_envio] [nvarchar](80) NOT NULL,
	[provincia_envio] [nvarchar](80) NOT NULL,
	[departamento_envio] [nvarchar](80) NOT NULL,
	[estado_pedido] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ventas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CARRITO] ON 

INSERT [dbo].[CARRITO] ([id_carrito], [id_usuarios], [fecha_creacion]) VALUES (1, 1, CAST(N'2026-08-24T12:07:05.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CARRITO] OFF
GO
SET IDENTITY_INSERT [dbo].[CATEGORIAS] ON 

INSERT [dbo].[CATEGORIAS] ([id_categorias], [nombre], [descripcion], [activo]) VALUES (1, N'Urbano', N'Zapatillas urbanas, casuales y de vestir para uso diario.', 1)
INSERT [dbo].[CATEGORIAS] ([id_categorias], [nombre], [descripcion], [activo]) VALUES (2, N'Deportivo', N'Calzado deportivo de alto rendimiento para running, entreno y fÃºtbol.', 1)
INSERT [dbo].[CATEGORIAS] ([id_categorias], [nombre], [descripcion], [activo]) VALUES (3, N'Formal', N'Zapatos elegantes de vestir, mocasines y calzado de cuero.', 1)
SET IDENTITY_INSERT [dbo].[CATEGORIAS] OFF
GO
SET IDENTITY_INSERT [dbo].[CUPONES] ON 

INSERT [dbo].[CUPONES] ([id_cupones], [codigo], [descuento], [fecha_inicio], [fecha_fin], [activo]) VALUES (1, N'JOSELITO10', CAST(10.00 AS Decimal(5, 2)), CAST(N'2026-01-01' AS Date), CAST(N'2026-12-31' AS Date), 1)
INSERT [dbo].[CUPONES] ([id_cupones], [codigo], [descuento], [fecha_inicio], [fecha_fin], [activo]) VALUES (2, N'PROMO20', CAST(20.00 AS Decimal(5, 2)), CAST(N'2026-01-01' AS Date), CAST(N'2026-12-31' AS Date), 1)
SET IDENTITY_INSERT [dbo].[CUPONES] OFF
GO
SET IDENTITY_INSERT [dbo].[DIRECCIONES] ON 

INSERT [dbo].[DIRECCIONES] ([id_direcciones], [id_usuarios], [direccion], [distrito], [provincia], [departamento], [referencia], [principal]) VALUES (1, 2, N'Av. Larco 456, Depto 301', N'Miraflores', N'Lima', N'Lima', N'Frente al parque Kennedy', 1)
INSERT [dbo].[DIRECCIONES] ([id_direcciones], [id_usuarios], [direccion], [distrito], [provincia], [departamento], [referencia], [principal]) VALUES (2, 2, N'Jr. Las Palmeras 180', N'San Isidro', N'Lima', N'Lima', N'Cerca al centro empresarial', 0)
SET IDENTITY_INSERT [dbo].[DIRECCIONES] OFF
GO
SET IDENTITY_INSERT [dbo].[IMAGENES_PRODUCTOS] ON 

INSERT [dbo].[IMAGENES_PRODUCTOS] ([id_imagenes_productos], [id_productos], [url_imagen], [orden_visualizacion], [es_principal]) VALUES (1, 1, N'https://images.unsplash.com/photo-1542291026-7eec264c27ff?auto=format&fit=crop&q=80&w=800', 1, 1)
INSERT [dbo].[IMAGENES_PRODUCTOS] ([id_imagenes_productos], [id_productos], [url_imagen], [orden_visualizacion], [es_principal]) VALUES (2, 2, N'https://media.falabella.com/falabellaPE/20751194_1/w=1200,h=1200,fit=pad', 1, 1)
INSERT [dbo].[IMAGENES_PRODUCTOS] ([id_imagenes_productos], [id_productos], [url_imagen], [orden_visualizacion], [es_principal]) VALUES (3, 3, N'https://images.unsplash.com/photo-1614252235316-8c857d38b5f4?auto=format&fit=crop&q=80&w=800', 1, 1)
SET IDENTITY_INSERT [dbo].[IMAGENES_PRODUCTOS] OFF
GO
SET IDENTITY_INSERT [dbo].[METODOS_PAGO] ON 

INSERT [dbo].[METODOS_PAGO] ([id_metodos_pago], [nombre], [activo]) VALUES (1, N'Yape / Plin', 1)
INSERT [dbo].[METODOS_PAGO] ([id_metodos_pago], [nombre], [activo]) VALUES (2, N'Transferencia Bancaria BCP/BBVA', 1)
INSERT [dbo].[METODOS_PAGO] ([id_metodos_pago], [nombre], [activo]) VALUES (3, N'Tarjeta de CrÃ©dito / DÃ©bito', 1)
SET IDENTITY_INSERT [dbo].[METODOS_PAGO] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTO_VARIANTES] ON 

INSERT [dbo].[PRODUCTO_VARIANTES] ([id_variantes], [id_productos], [talla], [color], [sku], [precio], [stock], [activo]) VALUES (1, 1, N'40', N'Negro/Rojo', N'NK-AM-40-NR', CAST(289.90 AS Decimal(10, 2)), 15, 1)
INSERT [dbo].[PRODUCTO_VARIANTES] ([id_variantes], [id_productos], [talla], [color], [sku], [precio], [stock], [activo]) VALUES (2, 1, N'41', N'Negro/Rojo', N'NK-AM-41-NR', CAST(289.90 AS Decimal(10, 2)), 3, 1)
INSERT [dbo].[PRODUCTO_VARIANTES] ([id_variantes], [id_productos], [talla], [color], [sku], [precio], [stock], [activo]) VALUES (3, 1, N'42', N'Blanco/Azul', N'NK-AM-42-BA', CAST(299.90 AS Decimal(10, 2)), 12, 1)
SET IDENTITY_INSERT [dbo].[PRODUCTO_VARIANTES] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTOS] ON 

INSERT [dbo].[PRODUCTOS] ([id_productos], [id_categorias], [nombre], [descripcion], [marca], [material], [genero], [activo]) VALUES (1, 1, N'Zapatillas Nike Air Max Street Editado', N'Zapatillas', N'Nike', N'Cuero Vacuno', N'Hombre', 1)
INSERT [dbo].[PRODUCTOS] ([id_productos], [id_categorias], [nombre], [descripcion], [marca], [material], [genero], [activo]) VALUES (2, 2, N'Zapatillas Adidas Ultraboost Runner', N'Calzado deportivo para entrenamiento de alta intensidad', N'Adidas', N'Tejido Primeknit', N'Unisex', 1)
INSERT [dbo].[PRODUCTOS] ([id_productos], [id_categorias], [nombre], [descripcion], [marca], [material], [genero], [activo]) VALUES (3, 3, N'Zapato Formal Joselito Oxford Elegance', N'Zapato de vestir elaborado en 100% cuero vacuno de alta calidad con acabado lustrado.', N'Joselito Premium', N'Cuero Vacuno Original', N'Hombre', 1)
SET IDENTITY_INSERT [dbo].[PRODUCTOS] OFF
GO
SET IDENTITY_INSERT [dbo].[PROVEEDORES] ON 

INSERT [dbo].[PROVEEDORES] ([id_proveedores], [razon_social], [ruc], [telefono], [correo], [direccion], [estado]) VALUES (1, N'Calzados El Sol S.A.C.', N'20512345632', N'987654321', N'contacto@calzadoselsol.pe', N'Av. Argentina 1450, Lima', 1)
INSERT [dbo].[PROVEEDORES] ([id_proveedores], [razon_social], [ruc], [telefono], [correo], [direccion], [estado]) VALUES (2, N'Distribuidora Nike PerÃº E.I.R.L.', N'20609876543', N'912345678', N'ventas@nikeperu.com', N'Av. Javier Prado Este 2450, San Borja', 1)
INSERT [dbo].[PROVEEDORES] ([id_proveedores], [razon_social], [ruc], [telefono], [correo], [direccion], [estado]) VALUES (3, N'Importadora Calzado Joselito S.A.', N'20101010101', N'955443322', N'proveedor@joselito.com', N'Jr. de la UniÃ³n 840, Cercado de Lima', 1)
SET IDENTITY_INSERT [dbo].[PROVEEDORES] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIOS] ON 

INSERT [dbo].[USUARIOS] ([id_usuarios], [nombre], [email], [password_hash], [rol], [fecha_registro], [activo]) VALUES (1, N'Administrador Joselito', N'admin@zapateriajoselito.com', N'$2a$12$EeF8Au/sPvX5T28TTyNCgeGllxHJWfll655cnNUxSVA8tvm.H48IK', N'ADMIN', CAST(N'2026-08-10T16:18:14.0000000' AS DateTime2), 1)
INSERT [dbo].[USUARIOS] ([id_usuarios], [nombre], [email], [password_hash], [rol], [fecha_registro], [activo]) VALUES (2, N'Juan Pérez (Cliente)', N'cliente@zapateriajoselito.com', N'$2a$12$EeF8Au/sPvX5T28TTyNCgeGllxHJWfll655cnNUxSVA8tvm.H48IK', N'CLIENTE', CAST(N'2026-08-10T16:18:14.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[USUARIOS] OFF
GO
/****** Object:  Index [UQ_carrito_usuario]    Script Date: 24/08/2026 20:07:10 ******/
ALTER TABLE [dbo].[CARRITO] ADD  CONSTRAINT [UQ_carrito_usuario] UNIQUE NONCLUSTERED 
(
	[id_usuarios] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_carrito_items_combo]    Script Date: 24/08/2026 20:07:10 ******/
ALTER TABLE [dbo].[CARRITO_ITEMS] ADD  CONSTRAINT [UQ_carrito_items_combo] UNIQUE NONCLUSTERED 
(
	[id_carrito] ASC,
	[id_variantes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_carrito_items_variante]    Script Date: 24/08/2026 20:07:10 ******/
CREATE NONCLUSTERED INDEX [IX_carrito_items_variante] ON [dbo].[CARRITO_ITEMS]
(
	[id_variantes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_categorias_nombre]    Script Date: 24/08/2026 20:07:10 ******/
ALTER TABLE [dbo].[CATEGORIAS] ADD  CONSTRAINT [UQ_categorias_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_pp15mnldgaun94tk2cy054335]    Script Date: 24/08/2026 20:07:10 ******/
ALTER TABLE [dbo].[CUPONES] ADD  CONSTRAINT [UK_pp15mnldgaun94tk2cy054335] UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_cupones_codigo]    Script Date: 24/08/2026 20:07:10 ******/
ALTER TABLE [dbo].[CUPONES] ADD  CONSTRAINT [UQ_cupones_codigo] UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_detalles_venta_variante]    Script Date: 24/08/2026 20:07:10 ******/
CREATE NONCLUSTERED INDEX [IX_detalles_venta_variante] ON [dbo].[DETALLES_VENTA]
(
	[id_variantes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_detalles_venta_venta]    Script Date: 24/08/2026 20:07:10 ******/
CREATE NONCLUSTERED INDEX [IX_detalles_venta_venta] ON [dbo].[DETALLES_VENTA]
(
	[id_ventas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_direcciones_usuario]    Script Date: 24/08/2026 20:07:10 ******/
CREATE NONCLUSTERED INDEX [IX_direcciones_usuario] ON [dbo].[DIRECCIONES]
(
	[id_usuarios] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_imagenes_una_principal]    Script Date: 24/08/2026 20:07:10 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_imagenes_una_principal] ON [dbo].[IMAGENES_PRODUCTOS]
(
	[id_productos] ASC
)
WHERE ([es_principal]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_movimientos_variante]    Script Date: 24/08/2026 20:07:10 ******/
CREATE NONCLUSTERED INDEX [IX_movimientos_variante] ON [dbo].[INVENTARIO_MOVIMIENTOS]
(
	[id_variantes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_lp3g3rqo05bv9igqein10uk7v]    Script Date: 24/08/2026 20:07:10 ******/
ALTER TABLE [dbo].[PRODUCTO_VARIANTES] ADD  CONSTRAINT [UK_lp3g3rqo05bv9igqein10uk7v] UNIQUE NONCLUSTERED 
(
	[sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_variantes_combo]    Script Date: 24/08/2026 20:07:10 ******/
ALTER TABLE [dbo].[PRODUCTO_VARIANTES] ADD  CONSTRAINT [UQ_variantes_combo] UNIQUE NONCLUSTERED 
(
	[id_productos] ASC,
	[talla] ASC,
	[color] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_variantes_sku]    Script Date: 24/08/2026 20:07:10 ******/
ALTER TABLE [dbo].[PRODUCTO_VARIANTES] ADD  CONSTRAINT [UQ_variantes_sku] UNIQUE NONCLUSTERED 
(
	[sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_variantes_producto]    Script Date: 24/08/2026 20:07:10 ******/
CREATE NONCLUSTERED INDEX [IX_variantes_producto] ON [dbo].[PRODUCTO_VARIANTES]
(
	[id_productos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_productos_categoria]    Script Date: 24/08/2026 20:07:10 ******/
CREATE NONCLUSTERED INDEX [IX_productos_categoria] ON [dbo].[PRODUCTOS]
(
	[id_categorias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_l2qkpg6gem3abown28yrhqjph]    Script Date: 24/08/2026 20:07:10 ******/
ALTER TABLE [dbo].[PROVEEDORES] ADD  CONSTRAINT [UK_l2qkpg6gem3abown28yrhqjph] UNIQUE NONCLUSTERED 
(
	[ruc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_proveedores_ruc]    Script Date: 24/08/2026 20:07:10 ******/
ALTER TABLE [dbo].[PROVEEDORES] ADD  CONSTRAINT [UQ_proveedores_ruc] UNIQUE NONCLUSTERED 
(
	[ruc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_resenas_producto]    Script Date: 24/08/2026 20:07:10 ******/
CREATE NONCLUSTERED INDEX [IX_resenas_producto] ON [dbo].[RESENAS]
(
	[id_productos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_kfsp0s1tflm1cwlj8idhqsad0]    Script Date: 24/08/2026 20:07:10 ******/
ALTER TABLE [dbo].[USUARIOS] ADD  CONSTRAINT [UK_kfsp0s1tflm1cwlj8idhqsad0] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_usuarios_email]    Script Date: 24/08/2026 20:07:10 ******/
ALTER TABLE [dbo].[USUARIOS] ADD  CONSTRAINT [UQ_usuarios_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ventas_usuario]    Script Date: 24/08/2026 20:07:10 ******/
CREATE NONCLUSTERED INDEX [IX_ventas_usuario] ON [dbo].[VENTAS]
(
	[id_usuarios] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CARRITO] ADD  DEFAULT (sysutcdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[CARRITO_ITEMS] ADD  DEFAULT ((1)) FOR [cantidad]
GO
ALTER TABLE [dbo].[CATEGORIAS] ADD  CONSTRAINT [DF_CATEGORIAS_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[COMPRAS] ADD  DEFAULT (sysutcdatetime()) FOR [fecha]
GO
ALTER TABLE [dbo].[CUPONES] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[DIRECCIONES] ADD  DEFAULT ((0)) FOR [principal]
GO
ALTER TABLE [dbo].[IMAGENES_PRODUCTOS] ADD  DEFAULT ((1)) FOR [orden_visualizacion]
GO
ALTER TABLE [dbo].[IMAGENES_PRODUCTOS] ADD  DEFAULT ((0)) FOR [es_principal]
GO
ALTER TABLE [dbo].[INVENTARIO_MOVIMIENTOS] ADD  DEFAULT (sysutcdatetime()) FOR [fecha]
GO
ALTER TABLE [dbo].[METODOS_PAGO] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[PRODUCTO_VARIANTES] ADD  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[PRODUCTO_VARIANTES] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[PRODUCTOS] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[PROVEEDORES] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[RECLAMACIONES] ADD  DEFAULT (sysutcdatetime()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[RECLAMACIONES] ADD  DEFAULT ('ABIERTO') FOR [estado]
GO
ALTER TABLE [dbo].[RESENAS] ADD  DEFAULT (sysutcdatetime()) FOR [fecha]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  DEFAULT ('CLIENTE') FOR [rol]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  DEFAULT (sysutcdatetime()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[VENTAS] ADD  DEFAULT (sysutcdatetime()) FOR [fecha]
GO
ALTER TABLE [dbo].[VENTAS] ADD  DEFAULT ('PENDIENTE') FOR [estado_pedido]
GO
ALTER TABLE [dbo].[CARRITO]  WITH CHECK ADD  CONSTRAINT [FK_carrito_usuarios] FOREIGN KEY([id_usuarios])
REFERENCES [dbo].[USUARIOS] ([id_usuarios])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CARRITO] CHECK CONSTRAINT [FK_carrito_usuarios]
GO
ALTER TABLE [dbo].[CARRITO_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_carrito_items_carrito] FOREIGN KEY([id_carrito])
REFERENCES [dbo].[CARRITO] ([id_carrito])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CARRITO_ITEMS] CHECK CONSTRAINT [FK_carrito_items_carrito]
GO
ALTER TABLE [dbo].[CARRITO_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_carrito_items_variante] FOREIGN KEY([id_variantes])
REFERENCES [dbo].[PRODUCTO_VARIANTES] ([id_variantes])
GO
ALTER TABLE [dbo].[CARRITO_ITEMS] CHECK CONSTRAINT [FK_carrito_items_variante]
GO
ALTER TABLE [dbo].[CARRITO_ITEMS]  WITH CHECK ADD  CONSTRAINT [FKcc218gq624lg8gjolv5g7lgic] FOREIGN KEY([id_carrito])
REFERENCES [dbo].[CARRITO] ([id_carrito])
GO
ALTER TABLE [dbo].[CARRITO_ITEMS] CHECK CONSTRAINT [FKcc218gq624lg8gjolv5g7lgic]
GO
ALTER TABLE [dbo].[CARRITO_ITEMS]  WITH CHECK ADD  CONSTRAINT [FKcja76x4k2kv9rn2s30cfr7kmd] FOREIGN KEY([id_variantes])
REFERENCES [dbo].[PRODUCTO_VARIANTES] ([id_variantes])
GO
ALTER TABLE [dbo].[CARRITO_ITEMS] CHECK CONSTRAINT [FKcja76x4k2kv9rn2s30cfr7kmd]
GO
ALTER TABLE [dbo].[COMPRAS]  WITH CHECK ADD  CONSTRAINT [FK_compras_proveedores] FOREIGN KEY([id_proveedores])
REFERENCES [dbo].[PROVEEDORES] ([id_proveedores])
GO
ALTER TABLE [dbo].[COMPRAS] CHECK CONSTRAINT [FK_compras_proveedores]
GO
ALTER TABLE [dbo].[DETALLES_COMPRAS]  WITH CHECK ADD  CONSTRAINT [FK_detalles_compras_compras] FOREIGN KEY([id_compras])
REFERENCES [dbo].[COMPRAS] ([id_compras])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETALLES_COMPRAS] CHECK CONSTRAINT [FK_detalles_compras_compras]
GO
ALTER TABLE [dbo].[DETALLES_COMPRAS]  WITH CHECK ADD  CONSTRAINT [FK_detalles_compras_variante] FOREIGN KEY([id_variantes])
REFERENCES [dbo].[PRODUCTO_VARIANTES] ([id_variantes])
GO
ALTER TABLE [dbo].[DETALLES_COMPRAS] CHECK CONSTRAINT [FK_detalles_compras_variante]
GO
ALTER TABLE [dbo].[DETALLES_COMPRAS]  WITH CHECK ADD  CONSTRAINT [FK55m2uvbccjg0gfbab0d52tv9r] FOREIGN KEY([id_compras])
REFERENCES [dbo].[COMPRAS] ([id_compras])
GO
ALTER TABLE [dbo].[DETALLES_COMPRAS] CHECK CONSTRAINT [FK55m2uvbccjg0gfbab0d52tv9r]
GO
ALTER TABLE [dbo].[DETALLES_COMPRAS]  WITH CHECK ADD  CONSTRAINT [FKj7stu6akwibdw8e95mpnlscgt] FOREIGN KEY([id_variantes])
REFERENCES [dbo].[PRODUCTO_VARIANTES] ([id_variantes])
GO
ALTER TABLE [dbo].[DETALLES_COMPRAS] CHECK CONSTRAINT [FKj7stu6akwibdw8e95mpnlscgt]
GO
ALTER TABLE [dbo].[DETALLES_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_detalles_venta_variante] FOREIGN KEY([id_variantes])
REFERENCES [dbo].[PRODUCTO_VARIANTES] ([id_variantes])
GO
ALTER TABLE [dbo].[DETALLES_VENTA] CHECK CONSTRAINT [FK_detalles_venta_variante]
GO
ALTER TABLE [dbo].[DETALLES_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_detalles_venta_ventas] FOREIGN KEY([id_ventas])
REFERENCES [dbo].[VENTAS] ([id_ventas])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETALLES_VENTA] CHECK CONSTRAINT [FK_detalles_venta_ventas]
GO
ALTER TABLE [dbo].[DETALLES_VENTA]  WITH CHECK ADD  CONSTRAINT [FK5oorum3emt2j98jsxc8hagxyc] FOREIGN KEY([id_variantes])
REFERENCES [dbo].[PRODUCTO_VARIANTES] ([id_variantes])
GO
ALTER TABLE [dbo].[DETALLES_VENTA] CHECK CONSTRAINT [FK5oorum3emt2j98jsxc8hagxyc]
GO
ALTER TABLE [dbo].[DETALLES_VENTA]  WITH CHECK ADD  CONSTRAINT [FKp65wpdbubeqy8fkhs3s3yvpco] FOREIGN KEY([id_ventas])
REFERENCES [dbo].[VENTAS] ([id_ventas])
GO
ALTER TABLE [dbo].[DETALLES_VENTA] CHECK CONSTRAINT [FKp65wpdbubeqy8fkhs3s3yvpco]
GO
ALTER TABLE [dbo].[DIRECCIONES]  WITH CHECK ADD  CONSTRAINT [FK_direcciones_usuarios] FOREIGN KEY([id_usuarios])
REFERENCES [dbo].[USUARIOS] ([id_usuarios])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DIRECCIONES] CHECK CONSTRAINT [FK_direcciones_usuarios]
GO
ALTER TABLE [dbo].[IMAGENES_PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_imagenes_productos] FOREIGN KEY([id_productos])
REFERENCES [dbo].[PRODUCTOS] ([id_productos])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IMAGENES_PRODUCTOS] CHECK CONSTRAINT [FK_imagenes_productos]
GO
ALTER TABLE [dbo].[INVENTARIO_MOVIMIENTOS]  WITH CHECK ADD  CONSTRAINT [FK_movimientos_compras] FOREIGN KEY([id_compras])
REFERENCES [dbo].[COMPRAS] ([id_compras])
GO
ALTER TABLE [dbo].[INVENTARIO_MOVIMIENTOS] CHECK CONSTRAINT [FK_movimientos_compras]
GO
ALTER TABLE [dbo].[INVENTARIO_MOVIMIENTOS]  WITH CHECK ADD  CONSTRAINT [FK_movimientos_variante] FOREIGN KEY([id_variantes])
REFERENCES [dbo].[PRODUCTO_VARIANTES] ([id_variantes])
GO
ALTER TABLE [dbo].[INVENTARIO_MOVIMIENTOS] CHECK CONSTRAINT [FK_movimientos_variante]
GO
ALTER TABLE [dbo].[INVENTARIO_MOVIMIENTOS]  WITH CHECK ADD  CONSTRAINT [FK_movimientos_ventas] FOREIGN KEY([id_ventas])
REFERENCES [dbo].[VENTAS] ([id_ventas])
GO
ALTER TABLE [dbo].[INVENTARIO_MOVIMIENTOS] CHECK CONSTRAINT [FK_movimientos_ventas]
GO
ALTER TABLE [dbo].[INVENTARIO_MOVIMIENTOS]  WITH CHECK ADD  CONSTRAINT [FK23ebwv8xly4dipd3a4shu6so8] FOREIGN KEY([id_ventas])
REFERENCES [dbo].[VENTAS] ([id_ventas])
GO
ALTER TABLE [dbo].[INVENTARIO_MOVIMIENTOS] CHECK CONSTRAINT [FK23ebwv8xly4dipd3a4shu6so8]
GO
ALTER TABLE [dbo].[INVENTARIO_MOVIMIENTOS]  WITH CHECK ADD  CONSTRAINT [FKgw7kdiq52joufh3rnxnub0k7w] FOREIGN KEY([id_compras])
REFERENCES [dbo].[COMPRAS] ([id_compras])
GO
ALTER TABLE [dbo].[INVENTARIO_MOVIMIENTOS] CHECK CONSTRAINT [FKgw7kdiq52joufh3rnxnub0k7w]
GO
ALTER TABLE [dbo].[INVENTARIO_MOVIMIENTOS]  WITH CHECK ADD  CONSTRAINT [FKh0vuttl21bgeb5i9m16h4fsd1] FOREIGN KEY([id_variantes])
REFERENCES [dbo].[PRODUCTO_VARIANTES] ([id_variantes])
GO
ALTER TABLE [dbo].[INVENTARIO_MOVIMIENTOS] CHECK CONSTRAINT [FKh0vuttl21bgeb5i9m16h4fsd1]
GO
ALTER TABLE [dbo].[PRODUCTO_VARIANTES]  WITH CHECK ADD  CONSTRAINT [FK_variantes_productos] FOREIGN KEY([id_productos])
REFERENCES [dbo].[PRODUCTOS] ([id_productos])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRODUCTO_VARIANTES] CHECK CONSTRAINT [FK_variantes_productos]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_productos_categorias] FOREIGN KEY([id_categorias])
REFERENCES [dbo].[CATEGORIAS] ([id_categorias])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_productos_categorias]
GO
ALTER TABLE [dbo].[RECLAMACIONES]  WITH CHECK ADD  CONSTRAINT [FK_reclamaciones_usuarios] FOREIGN KEY([id_usuarios])
REFERENCES [dbo].[USUARIOS] ([id_usuarios])
GO
ALTER TABLE [dbo].[RECLAMACIONES] CHECK CONSTRAINT [FK_reclamaciones_usuarios]
GO
ALTER TABLE [dbo].[RECLAMACIONES]  WITH CHECK ADD  CONSTRAINT [FK_reclamaciones_ventas] FOREIGN KEY([id_ventas])
REFERENCES [dbo].[VENTAS] ([id_ventas])
GO
ALTER TABLE [dbo].[RECLAMACIONES] CHECK CONSTRAINT [FK_reclamaciones_ventas]
GO
ALTER TABLE [dbo].[RECLAMACIONES]  WITH CHECK ADD  CONSTRAINT [FK7wudskluat7ig3hileffy20jm] FOREIGN KEY([id_usuarios])
REFERENCES [dbo].[USUARIOS] ([id_usuarios])
GO
ALTER TABLE [dbo].[RECLAMACIONES] CHECK CONSTRAINT [FK7wudskluat7ig3hileffy20jm]
GO
ALTER TABLE [dbo].[RECLAMACIONES]  WITH CHECK ADD  CONSTRAINT [FKl6iv1omk9y8tgndqftwi343fr] FOREIGN KEY([id_ventas])
REFERENCES [dbo].[VENTAS] ([id_ventas])
GO
ALTER TABLE [dbo].[RECLAMACIONES] CHECK CONSTRAINT [FKl6iv1omk9y8tgndqftwi343fr]
GO
ALTER TABLE [dbo].[RESENAS]  WITH CHECK ADD  CONSTRAINT [FK_resenas_detalles_venta] FOREIGN KEY([id_detalles_venta])
REFERENCES [dbo].[DETALLES_VENTA] ([id_detalles_venta])
GO
ALTER TABLE [dbo].[RESENAS] CHECK CONSTRAINT [FK_resenas_detalles_venta]
GO
ALTER TABLE [dbo].[RESENAS]  WITH CHECK ADD  CONSTRAINT [FK_resenas_productos] FOREIGN KEY([id_productos])
REFERENCES [dbo].[PRODUCTOS] ([id_productos])
GO
ALTER TABLE [dbo].[RESENAS] CHECK CONSTRAINT [FK_resenas_productos]
GO
ALTER TABLE [dbo].[RESENAS]  WITH CHECK ADD  CONSTRAINT [FK_resenas_usuarios] FOREIGN KEY([id_usuarios])
REFERENCES [dbo].[USUARIOS] ([id_usuarios])
GO
ALTER TABLE [dbo].[RESENAS] CHECK CONSTRAINT [FK_resenas_usuarios]
GO
ALTER TABLE [dbo].[RESENAS]  WITH CHECK ADD  CONSTRAINT [FKksbft18xxe1h3yl4gy4rvsvnd] FOREIGN KEY([id_productos])
REFERENCES [dbo].[PRODUCTOS] ([id_productos])
GO
ALTER TABLE [dbo].[RESENAS] CHECK CONSTRAINT [FKksbft18xxe1h3yl4gy4rvsvnd]
GO
ALTER TABLE [dbo].[RESENAS]  WITH CHECK ADD  CONSTRAINT [FKm7q5y5j92nxwutftw83xn74sd] FOREIGN KEY([id_usuarios])
REFERENCES [dbo].[USUARIOS] ([id_usuarios])
GO
ALTER TABLE [dbo].[RESENAS] CHECK CONSTRAINT [FKm7q5y5j92nxwutftw83xn74sd]
GO
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_ventas_cupones] FOREIGN KEY([id_cupones])
REFERENCES [dbo].[CUPONES] ([id_cupones])
GO
ALTER TABLE [dbo].[VENTAS] CHECK CONSTRAINT [FK_ventas_cupones]
GO
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_ventas_metodos_pago] FOREIGN KEY([id_metodos_pago])
REFERENCES [dbo].[METODOS_PAGO] ([id_metodos_pago])
GO
ALTER TABLE [dbo].[VENTAS] CHECK CONSTRAINT [FK_ventas_metodos_pago]
GO
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_ventas_usuarios] FOREIGN KEY([id_usuarios])
REFERENCES [dbo].[USUARIOS] ([id_usuarios])
GO
ALTER TABLE [dbo].[VENTAS] CHECK CONSTRAINT [FK_ventas_usuarios]
GO
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD  CONSTRAINT [FKbtvqxh207lsf9ujlo3o735pew] FOREIGN KEY([id_metodos_pago])
REFERENCES [dbo].[METODOS_PAGO] ([id_metodos_pago])
GO
ALTER TABLE [dbo].[VENTAS] CHECK CONSTRAINT [FKbtvqxh207lsf9ujlo3o735pew]
GO
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD  CONSTRAINT [FKkfe6om44g4gwt1bw8ilv5tfkb] FOREIGN KEY([id_usuarios])
REFERENCES [dbo].[USUARIOS] ([id_usuarios])
GO
ALTER TABLE [dbo].[VENTAS] CHECK CONSTRAINT [FKkfe6om44g4gwt1bw8ilv5tfkb]
GO
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD  CONSTRAINT [FKs14fyotcahji2k7rby65kau85] FOREIGN KEY([id_cupones])
REFERENCES [dbo].[CUPONES] ([id_cupones])
GO
ALTER TABLE [dbo].[VENTAS] CHECK CONSTRAINT [FKs14fyotcahji2k7rby65kau85]
GO
ALTER TABLE [dbo].[CARRITO_ITEMS]  WITH CHECK ADD  CONSTRAINT [CK_carrito_items_cantidad] CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[CARRITO_ITEMS] CHECK CONSTRAINT [CK_carrito_items_cantidad]
GO
ALTER TABLE [dbo].[COMPRAS]  WITH CHECK ADD  CONSTRAINT [CK_compras_monto] CHECK  (([monto_total]>=(0)))
GO
ALTER TABLE [dbo].[COMPRAS] CHECK CONSTRAINT [CK_compras_monto]
GO
ALTER TABLE [dbo].[CUPONES]  WITH CHECK ADD  CONSTRAINT [CK_cupones_descuento] CHECK  (([descuento]>=(0) AND [descuento]<=(100)))
GO
ALTER TABLE [dbo].[CUPONES] CHECK CONSTRAINT [CK_cupones_descuento]
GO
ALTER TABLE [dbo].[CUPONES]  WITH CHECK ADD  CONSTRAINT [CK_cupones_fechas] CHECK  (([fecha_fin]>=[fecha_inicio]))
GO
ALTER TABLE [dbo].[CUPONES] CHECK CONSTRAINT [CK_cupones_fechas]
GO
ALTER TABLE [dbo].[DETALLES_COMPRAS]  WITH CHECK ADD  CONSTRAINT [CK_detalles_compras_cantidad] CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[DETALLES_COMPRAS] CHECK CONSTRAINT [CK_detalles_compras_cantidad]
GO
ALTER TABLE [dbo].[DETALLES_COMPRAS]  WITH CHECK ADD  CONSTRAINT [CK_detalles_compras_costo] CHECK  (([costo_unitario]>=(0)))
GO
ALTER TABLE [dbo].[DETALLES_COMPRAS] CHECK CONSTRAINT [CK_detalles_compras_costo]
GO
ALTER TABLE [dbo].[DETALLES_VENTA]  WITH CHECK ADD  CONSTRAINT [CK_detalles_venta_cantidad] CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[DETALLES_VENTA] CHECK CONSTRAINT [CK_detalles_venta_cantidad]
GO
ALTER TABLE [dbo].[DETALLES_VENTA]  WITH CHECK ADD  CONSTRAINT [CK_detalles_venta_precio] CHECK  (([precio_unitario]>=(0)))
GO
ALTER TABLE [dbo].[DETALLES_VENTA] CHECK CONSTRAINT [CK_detalles_venta_precio]
GO
ALTER TABLE [dbo].[INVENTARIO_MOVIMIENTOS]  WITH CHECK ADD  CONSTRAINT [CK_movimientos_cantidad] CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[INVENTARIO_MOVIMIENTOS] CHECK CONSTRAINT [CK_movimientos_cantidad]
GO
ALTER TABLE [dbo].[INVENTARIO_MOVIMIENTOS]  WITH CHECK ADD  CONSTRAINT [CK_movimientos_origen] CHECK  (([origen_tipo]='AJUSTE' OR [origen_tipo]='VENTA' OR [origen_tipo]='COMPRA'))
GO
ALTER TABLE [dbo].[INVENTARIO_MOVIMIENTOS] CHECK CONSTRAINT [CK_movimientos_origen]
GO
ALTER TABLE [dbo].[INVENTARIO_MOVIMIENTOS]  WITH CHECK ADD  CONSTRAINT [CK_movimientos_origen_fk] CHECK  (([origen_tipo]='COMPRA' AND [id_compras] IS NOT NULL AND [id_ventas] IS NULL OR [origen_tipo]='VENTA' AND [id_ventas] IS NOT NULL AND [id_compras] IS NULL OR [origen_tipo]='AJUSTE' AND [id_compras] IS NULL AND [id_ventas] IS NULL))
GO
ALTER TABLE [dbo].[INVENTARIO_MOVIMIENTOS] CHECK CONSTRAINT [CK_movimientos_origen_fk]
GO
ALTER TABLE [dbo].[INVENTARIO_MOVIMIENTOS]  WITH CHECK ADD  CONSTRAINT [CK_movimientos_tipo] CHECK  (([tipo_movimiento]='SALIDA' OR [tipo_movimiento]='INGRESO'))
GO
ALTER TABLE [dbo].[INVENTARIO_MOVIMIENTOS] CHECK CONSTRAINT [CK_movimientos_tipo]
GO
ALTER TABLE [dbo].[PRODUCTO_VARIANTES]  WITH CHECK ADD  CONSTRAINT [CK_variantes_precio] CHECK  (([precio]>=(0)))
GO
ALTER TABLE [dbo].[PRODUCTO_VARIANTES] CHECK CONSTRAINT [CK_variantes_precio]
GO
ALTER TABLE [dbo].[PRODUCTO_VARIANTES]  WITH CHECK ADD  CONSTRAINT [CK_variantes_stock] CHECK  (([stock]>=(0)))
GO
ALTER TABLE [dbo].[PRODUCTO_VARIANTES] CHECK CONSTRAINT [CK_variantes_stock]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [CK_productos_genero] CHECK  (([genero]='NINA' OR [genero]='NINO' OR [genero]='UNISEX' OR [genero]='MUJER' OR [genero]='HOMBRE'))
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [CK_productos_genero]
GO
ALTER TABLE [dbo].[RECLAMACIONES]  WITH CHECK ADD  CONSTRAINT [CK_reclamaciones_estado] CHECK  (([estado]='CERRADO' OR [estado]='RESUELTO' OR [estado]='EN_PROCESO' OR [estado]='ABIERTO'))
GO
ALTER TABLE [dbo].[RECLAMACIONES] CHECK CONSTRAINT [CK_reclamaciones_estado]
GO
ALTER TABLE [dbo].[RESENAS]  WITH CHECK ADD  CONSTRAINT [CK_resenas_calificacion] CHECK  (([calificacion]>=(1) AND [calificacion]<=(5)))
GO
ALTER TABLE [dbo].[RESENAS] CHECK CONSTRAINT [CK_resenas_calificacion]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [CK_usuarios_rol] CHECK  (([rol]='VENDEDOR' OR [rol]='ADMIN' OR [rol]='CLIENTE'))
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [CK_usuarios_rol]
GO
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD  CONSTRAINT [CK_ventas_estado] CHECK  (([estado_pedido]='CANCELADO' OR [estado_pedido]='ENTREGADO' OR [estado_pedido]='ENVIADO' OR [estado_pedido]='PAGADO' OR [estado_pedido]='PENDIENTE'))
GO
ALTER TABLE [dbo].[VENTAS] CHECK CONSTRAINT [CK_ventas_estado]
GO
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD  CONSTRAINT [CK_ventas_monto] CHECK  (([monto_total]>=(0)))
GO
ALTER TABLE [dbo].[VENTAS] CHECK CONSTRAINT [CK_ventas_monto]
GO
USE [master]
GO
